.App {
  text-align: center;
}

input {
  margin: 10px;
  padding: 5px;
}

.countryGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Center the cards with equal spacing */
}

.countryCard {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box; /* Include padding and border in total width/height */
}

.countryCard img {
  width: 100px;
  height: 60px;
  object-fit: cover;
}

.countryCard p {
  margin-top: 10px;
}
